# Project specific files
# --------------------------------
splunk-hf-*.tgz
splunk-add-on-for-google-cloud-platform_*.tgz

# Safeguards against accidental secret publishing
# --------------------------------
**/secrets/
**/ca/
**/certs/
**.crt
**.pem
**.key

# Terraform files
# --------------------------------
# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# Crash log files
crash.log

# General files
# --------------------------------
*.swp
